<app-header-page/>
<div class="bg-gray-100 min-h-screen py-8">
  <div class="container mx-auto">
    <h1 class="text-3xl font-semibold mb-8">Sản phẩm</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">

      <div *ngFor="let product of products" class="bg-white p-4 shadow rounded">
        <a [routerLink]="'/product-detail/' + product.id"><img [src]="product.imageUrl" alt="{{ product.name }}" class="w-full h-auto object-cover mb-2"></a>
        <h2 class="text-lg font-semibold">{{ product.name }}</h2>
        <p class="text-gray-600">{{ product.price }}</p>
        <p class="text-green-600 font-semibold mt-2">Price: {{ product.price | currency : "VND" : "symbol" : "1.3-3"  }}</p>
      </div>
    </div>
  </div>
</div>
<app-footer-page/>

